:root {
    --dark-red: #990000;
    --red: #FF0000;
    --black: #000000;
    --light-black: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar i {
    font-size: 2rem;
}

.navbar a:hover {
    color: var(--red);
}

.page-heading {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    z-index: 2;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, var(--dark-red), var(--black));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.code-editor {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--dark-red);
}

.code {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-y: auto;
    background-color: var(--dark-red);
    padding: 1rem;
    border-radius: 0 1rem 0 0;
    border-right: 1px solid #ccc;
}

.output {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 1px solid #ccc;
}

.output h1 {
    font-size: 1.5rem;
    color: var(--dark-red);
    margin-bottom: 1rem;
}

h1 {
    font: 600 1.2rem sans-serif;
    margin: 1rem 0;
    color: white;
}

h1 > img {
    width: 1.3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.code textarea {
    width: 100%;
    height: calc(100% - 4rem);
    background-color: var(--black);
    color: var(--red);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: vertical;
    border: 1px solid #ccc;
}

.code textarea::-webkit-scrollbar {
    width: .4rem;
}

.code textarea::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: .4rem;
}

#result {
    width: 100%;
    height: 100%;
    border: none;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container button {
    background-color: var(--red);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
}

.output-panel {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 1px solid #ccc;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.output-heading {
    font-weight: bold;
}

#run-button {
    background-color: var(--red);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 4px;
    right: 11px;
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {

    .page-heading {
        display: none;
    }

    .code-editor {
        grid-template-columns: 1fr; 
        width: 100%;
    }

    .code {
        border-right: none;
        border-radius: 0;
        padding-top: 2rem; 
    }

    .output {
        border-left: none;
        border-radius: 0;
    }

    .output-panel {
        border-left: none;
        border-radius: 0;
    }

    .button-container button {
        margin-left: 0;
    }

    #run-button {
        position: static;
        margin-top: 1rem;
        top: 0;
        right: 0;
    }

    .navbar-toggle {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
        margin-left: 10px;
    }

    nav ul {
        display: none;
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 5px;
        padding: 15px;
    }

    .navbar-toggle.active + nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
